<div class="row gy-4">
    <div class="col-xxl-8">
        <div class="row gy-4">

            <div class="col-xxl-4 col-sm-6">
                <div class="card p-3 shadow-2 radius-8 border input-form-light h-100 bg-gradient-end-1">
                    <div class="card-body p-0">
                        <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">

                            <div class="d-flex align-items-center gap-2">
                                <span class="mb-0 w-48-px h-48-px bg-primary-600 flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6 mb-0">
                                    <iconify-icon icon="mdi:account-plus" class="icon"></iconify-icon>
                                </span>
                                <div>
                                    <span class="mb-2 fw-medium text-secondary-light text-sm">New Players</span>
                                    <h6 class="fw-semibold">15,000</h6>
                                </div>
                            </div>

                            <div id="new-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                        </div>
                        <p class="text-sm mb-0">Increase by <span class="bg-success-focus px-1 rounded-2 fw-medium text-success-main text-sm">+200</span> this week</p>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-sm-6">
                <div class="card p-3 shadow-2 radius-8 border input-form-light h-100 bg-gradient-end-2">
                    <div class="card-body p-0">
                        <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">

                            <div class="d-flex align-items-center gap-2">
                                <span class="mb-0 w-48-px h-48-px bg-success-main flex-shrink-0 text-white d-flex justify-content-center align-items-center rounded-circle h6">
                                    <iconify-icon icon="mdi:account-group" class="icon"></iconify-icon>
                                </span>
                                <div>
                                    <span class="mb-2 fw-medium text-secondary-light text-sm">Online Player</span>
                                    <h6 class="fw-semibold">800</h6>
                                </div>
                            </div>

                            <div id="active-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                        </div>
                        <p class="text-sm mb-0">Increase by <span class="bg-success-focus px-1 rounded-2 fw-medium text-success-main text-sm">+200</span> this week</p>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-sm-6">
                <div class="card p-3 shadow-2 radius-8 border input-form-light h-100 bg-gradient-end-3">
                    <div class="card-body p-0">
                        <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">

                            <div class="d-flex align-items-center gap-2">
                                <span class="mb-0 w-48-px h-48-px bg-yellow text-white flex-shrink-0 d-flex justify-content-center align-items-center rounded-circle h6">
                                    <iconify-icon icon="mdi:wallet" class="icon"></iconify-icon>
                                </span>
                                <div>
                                    <span class="mb-2 fw-medium text-secondary-light text-sm">Total Player Balance</span>
                                    <h6 class="fw-semibold">₱5,100,000</h6>
                                </div>
                            </div>

                            <div id="total-sales-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                        </div>
                        <p class="text-sm mb-0">Increase by <span class="bg-danger-focus px-1 rounded-2 fw-medium text-danger-main text-sm">-₱10k</span> this week</p>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-sm-6">
                <div class="card p-3 shadow-2 radius-8 border input-form-light h-100 bg-gradient-end-4">
                    <div class="card-body p-0">
                        <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">

                            <div class="d-flex align-items-center gap-2">
                                <span class="mb-0 w-48-px h-48-px bg-purple text-white flex-shrink-0 d-flex justify-content-center align-items-center rounded-circle h6">
                                    <iconify-icon icon="mdi:swap-horizontal" class="icon"></iconify-icon>
                                </span>
                                <div>
                                    <span class="mb-2 fw-medium text-secondary-light text-sm">Total Exchange</span>
                                    <h6 class="fw-semibold">₱5,000</h6>
                                </div>
                            </div>

                            <div id="conversion-user-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                        </div>
                        <p class="text-sm mb-0">Increase by <span class="bg-success-focus px-1 rounded-2 fw-medium text-success-main text-sm">+5%</span> this week</p>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-sm-6">
                <div class="card p-3 shadow-2 radius-8 border input-form-light h-100 bg-gradient-end-5">
                    <div class="card-body p-0">
                        <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">

                            <div class="d-flex align-items-center gap-2">
                                <span class="mb-0 w-48-px h-48-px bg-pink text-white flex-shrink-0 d-flex justify-content-center align-items-center rounded-circle h6">
                                    <iconify-icon icon="mdi:cash-plus" class="icon"></iconify-icon>
                                </span>
                                <div>
                                    <span class="mb-2 fw-medium text-secondary-light text-sm">Total Recharge</span>
                                    <h6 class="fw-semibold">₱5,000</h6>
                                </div>
                            </div>

                            <div id="leads-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                        </div>
                        <p class="text-sm mb-0">Increase by <span class="bg-success-focus px-1 rounded-2 fw-medium text-success-main text-sm">+20</span> this week</p>
                    </div>
                </div>
            </div>

            <div class="col-xxl-4 col-sm-6">
                <div class="card p-3 shadow-2 radius-8 border input-form-light h-100 bg-gradient-end-6">
                    <div class="card-body p-0">
                        <div class="d-flex flex-wrap align-items-center justify-content-between gap-1 mb-8">

                            <div class="d-flex align-items-center gap-2">
                                <span class="mb-0 w-48-px h-48-px bg-cyan text-white flex-shrink-0 d-flex justify-content-center align-items-center rounded-circle h6">
                                    <iconify-icon icon="mdi:calendar-star" class="icon"></iconify-icon>
                                </span>
                                <div>
                                    <span class="mb-2 fw-medium text-secondary-light text-sm">Total Events</span>
                                    <h6 class="fw-semibold">100</h6>
                                </div>
                            </div>

                            <div id="total-profit-chart" class="remove-tooltip-title rounded-tooltip-value"></div>
                        </div>
                        <p class="text-sm mb-0">Increase by <span class="bg-success-focus px-1 rounded-2 fw-medium text-success-main text-sm">+$15k</span> this week</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- Revenue Growth start -->
    <div class="col-xxl-4">
        <div class="card h-100 radius-8 border">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                    <div>
                        <h6 class="mb-2 fw-bold text-lg">Revenue Growth</h6>
                        <span class="text-sm fw-medium text-secondary-light">Weekly Report</span>
                    </div>
                    <div class="text-end">
                        <h6 class="mb-2 fw-bold text-lg">₱50,000.00</h6>
                        <span class="bg-success-focus ps-12 pe-12 pt-2 pb-2 rounded-2 fw-medium text-success-main text-sm">₱10k</span>
                    </div>
                </div>
                <div id="revenue-chart" class="mt-28"></div>
            </div>
        </div>
    </div>
    <!-- Revenue Growth End -->
    <!-- Earning Static start -->
    <div class="col-xxl-8">
        <div class="card h-100 radius-8 border-0">
            <div class="card-body p-24">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                    <div>
                        <h6 class="mb-2 fw-bold text-lg">Earning Statistic</h6>
                        <span class="text-sm fw-medium text-secondary-light">Yearly earning overview</span>
                    </div>
                    <div class="">
                        <select class="form-select form-select-sm w-auto bg-base border text-secondary-light">
                            <option>Yearly</option>
                            <option>Monthly</option>
                            <option>Weekly</option>
                            <option>Today</option>
                        </select>
                    </div>
                </div>

                <div class="mt-20 d-flex justify-content-center flex-wrap gap-3">

                    <div class="d-inline-flex align-items-center gap-2 p-2 radius-8 border pe-36 br-hover-primary group-item">
                        <span class="bg-neutral-100 w-44-px h-44-px text-xxl radius-8 d-flex justify-content-center align-items-center text-secondary-light group-hover:bg-primary-600 group-hover:text-white">
                            <iconify-icon icon="fluent:cart-16-filled" class="icon"></iconify-icon>
                        </span>
                        <div>
                            <span class="text-secondary-light text-sm fw-medium">Recharge</span>
                            <h6 class="text-md fw-semibold mb-0">₱200k</h6>
                        </div>
                    </div>

                    <div class="d-inline-flex align-items-center gap-2 p-2 radius-8 border pe-36 br-hover-primary group-item">
                        <span class="bg-neutral-100 w-44-px h-44-px text-xxl radius-8 d-flex justify-content-center align-items-center text-secondary-light group-hover:bg-primary-600 group-hover:text-white">
                            <iconify-icon icon="uis:chart" class="icon"></iconify-icon>
                        </span>
                        <div>
                            <span class="text-secondary-light text-sm fw-medium">Exchange</span>
                            <h6 class="text-md fw-semibold mb-0">₱200k</h6>
                        </div>
                    </div>

                    <div class="d-inline-flex align-items-center gap-2 p-2 radius-8 border pe-36 br-hover-primary group-item">
                        <span class="bg-neutral-100 w-44-px h-44-px text-xxl radius-8 d-flex justify-content-center align-items-center text-secondary-light group-hover:bg-primary-600 group-hover:text-white">
                            <iconify-icon icon="ph:arrow-fat-up-fill" class="icon"></iconify-icon>
                        </span>
                        <div>
                            <span class="text-secondary-light text-sm fw-medium">Profit</span>
                            <h6 class="text-md fw-semibold mb-0">₱200k</h6>
                        </div>
                    </div>
                </div>

                <div id="barChart"></div>
            </div>
        </div>
    </div>
    <!-- Earning Static End -->
     <!-- Client Payment Status Start -->
    <div class="col-xxl-4 col-sm-6">
        <div class="card h-100 radius-8 border-0">
            <div class="card-body p-24">
                <h6 class="mb-2 fw-bold text-lg">Player Request Recharge and Exchange Status</h6>
                <span class="text-sm fw-medium text-secondary-light">Weekly Report</span>

                <ul class="d-flex flex-wrap align-items-center justify-content-center mt-32">
                    <li class="d-flex align-items-center gap-2 me-28">
                        <span class="w-12-px h-12-px rounded-circle bg-success-main"></span>
                        <span class="text-secondary-light text-sm fw-medium">Approved: 500</span>
                    </li>
                    <li class="d-flex align-items-center gap-2 me-28">
                        <span class="w-12-px h-12-px rounded-circle bg-info-main"></span>
                        <span class="text-secondary-light text-sm fw-medium">Pending: 500</span>
                    </li>
                    <li class="d-flex align-items-center gap-2">
                        <span class="w-12-px h-12-px rounded-circle bg-warning-main"></span>
                        <span class="text-secondary-light text-sm fw-medium">Rejected: 1500</span>
                    </li>
                </ul>
                <div class="mt-40">
                    <div id="paymentStatusChart" class="margin-16-minus"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Client Payment Status End -->
     <!-- Latest Performance Start -->
    <div class="col-xxl-6">
        <div class="card h-100">
            <div class="card-header border-bottom bg-base py-16 px-24 d-flex align-items-center justify-content-between">
                <h6 class="text-lg fw-semibold mb-0">Last Transaction</h6>
                <a href="javascript:void(0)" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                    View All
                    <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                </a>
            </div>
            <div class="card-body p-24">
                <div class="table-responsive scroll-sm">
                    <table class="table bordered-table mb-0">
                        <thead>
                            <tr>
                                <th scope="col">Transaction ID</th>
                                <th scope="col">Date</th>
                                <th scope="col">Status</th>
                                <th scope="col">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>5986124445445</td>
                                <td>27 Mar 2024</td>
                                <td> <span class="bg-warning-focus text-warning-main px-24 py-4 rounded-pill fw-medium text-sm">Pending</span> </td>
                                <td>₱20,000.00</td>
                            </tr>
                            <tr>
                                <td>5986124445445</td>
                                <td>27 Mar 2024</td>
                                <td> <span class="bg-danger-focus text-danger-main px-24 py-4 rounded-pill fw-medium text-sm">Rejected</span> </td>
                                <td>₱20,000.00</td>
                            </tr>
                            <tr>
                                <td>5986124445445</td>
                                <td>27 Mar 2024</td>
                                <td> <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm">Completed</span> </td>
                                <td>₱20,000.00</td>
                            </tr>
                            <tr>
                                <td>5986124445445</td>
                                <td>27 Mar 2024</td>
                                <td> <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm">Completed</span> </td>
                                <td>₱20,000.00</td>
                            </tr>
                            <tr>
                                <td>5986124445445</td>
                                <td>27 Mar 2024</td>
                                <td> <span class="bg-success-focus text-success-main px-24 py-4 rounded-pill fw-medium text-sm">Completed</span> </td>
                                <td>₱20,000.00</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Latest Performance End -->
    <!-- Top performance Start -->
    <div class="col-xxl-3 col-xl-12">
        <div class="card">

            <div class="card-body">
                <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                    <h6 class="mb-2 fw-bold text-lg mb-0">Top Players</h6>
                    <a href="javascript:void(0)" class="text-primary-600 hover-text-primary d-flex align-items-center gap-1">
                        View All
                        <iconify-icon icon="solar:alt-arrow-right-linear" class="icon"></iconify-icon>
                    </a>
                </div>

                <div class="mt-32">

                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center">
                            <img src="/images/users/1.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0">Dianne Russell</h6>
                                <span class="text-sm text-secondary-light fw-medium">Agent ID: 36254</span>
                            </div>
                        </div>
                        <span class="text-primary-light text-md fw-medium">60/80</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center">
                            <img src="/images/users/1.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0">Wade Warren</h6>
                                <span class="text-sm text-secondary-light fw-medium">Agent ID: 36254</span>
                            </div>
                        </div>
                        <span class="text-primary-light text-md fw-medium">50/70</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center">
                            <img src="/images/users/1.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0">Albert Flores</h6>
                                <span class="text-sm text-secondary-light fw-medium">Agent ID: 36254</span>
                            </div>
                        </div>
                        <span class="text-primary-light text-md fw-medium">55/75</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center">
                            <img src="/images/users/1.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0">Bessie Cooper</h6>
                                <span class="text-sm text-secondary-light fw-medium">Agent ID: 36254</span>
                            </div>
                        </div>
                        <span class="text-primary-light text-md fw-medium">60/80</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between gap-3 mb-32">
                        <div class="d-flex align-items-center">
                            <img src="/images/users/1.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0">Arlene McCoy</h6>
                                <span class="text-sm text-secondary-light fw-medium">Agent ID: 36254</span>
                            </div>
                        </div>
                        <span class="text-primary-light text-md fw-medium">55/75</span>
                    </div>

                    <div class="d-flex align-items-center justify-content-between gap-3">
                        <div class="d-flex align-items-center">
                            <img src="/images/users/1.png" alt="" class="w-40-px h-40-px rounded-circle flex-shrink-0 me-12 overflow-hidden">
                            <div class="flex-grow-1">
                                <h6 class="text-md mb-0">Arlene McCoy</h6>
                                <span class="text-sm text-secondary-light fw-medium">Agent ID: 36254</span>
                            </div>
                        </div>
                        <span class="text-primary-light text-md fw-medium">50/70</span>
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!-- Top performance End -->
       <!-- Campaign Static start -->
    <div class="col-xxl-3">
        <div class="row gy-4">
            
            <div class="col-xxl-12 col-sm-6">
                <div class="card h-100 radius-8 border-0 overflow-hidden">
                    <div class="card-body p-24">
                        <div class="d-flex align-items-center flex-wrap gap-2 justify-content-between">
                            <h6 class="mb-2 fw-bold text-lg">Player Overview</h6>
                            <div class="">
                                <select class="form-select form-select-sm w-auto bg-base border text-secondary-light">
                                    <option>Yearly</option>
                                    <option>Monthly</option>
                                    <option>Weekly</option>
                                    <option>Today</option>
                                </select>
                            </div>
                        </div>

                        <div class="d-flex flex-wrap align-items-center mt-3">
                            <ul class="flex-shrink-0">
                                <li class="d-flex align-items-center gap-2 mb-28">
                                    <span class="w-12-px h-12-px rounded-circle bg-success-main"></span>
                                    <span class="text-secondary-light text-sm fw-medium">Total: 500</span>
                                </li>
                                <li class="d-flex align-items-center gap-2 mb-28">
                                    <span class="w-12-px h-12-px rounded-circle bg-warning-main"></span>
                                    <span class="text-secondary-light text-sm fw-medium">New: 500</span>
                                </li>
                                <li class="d-flex align-items-center gap-2">
                                    <span class="w-12-px h-12-px rounded-circle bg-primary-600"></span>
                                    <span class="text-secondary-light text-sm fw-medium">Active: 1500</span>
                                </li>
                            </ul>
                            <div id="donutChart" class="flex-grow-1 apexcharts-tooltip-z-none title-style circle-none"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Campaign Static End -->
</div>

<% script = `<script src = '/js/homeTwoChart.js' ></script>` %>